@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProtestRiot";
  src: url('../../public//fonts/ProtestRiot-Regular.ttf');
}

@font-face {
  font-family: "PoppinsBlackItalic";
  src: url('../../public//fonts/Poppins-BlackItalic.ttf');
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 90, 92, 106;
    --background-end-rgb: 32, 45, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* hero section start */
.home-container{
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.1),
  rgb(255, 255, 255)), url('../../public//banner_pics/white\ blue\ natural\ landscape\ of\ the\ sea\ and\ mountains\ freedom\ facebook\ cover.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #c2bbbbcb;
  min-height: 60vh;
}
.bottom-hero{
  background-image: url('/banner_pics/cover-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* hero section end */

/* slick slider gap start */
.slick-slide .card {
  margin: 0rem 10px;
}

.slick-slide .card:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  margin-right: -1rem;
}
/* slick slider gap end */

/* contact section start*/
.show-sidebar{
  display: block;
  transform: translateX(100%);
}
.sidebar::-webkit-scrollbar {
  visibility: hidden !important;
}
@media(max-width: 507px){
  .contact-heading{
    font-size: 16px !important;
  }
  .contact-subtitle{
    font-size: 12px !important;
  }
}
@media(max-width: 460px){
  .contact-input{
    max-width: 40%;
    font-size: 14px;
  }
  .notify-me-button{
    max-width: 40%;
    font-size: 14px;
  }
}
@media (min-width: 541px) and (max-width: 685px){
  .title-text{
    font-size: 18px !important;
  } 
  .para-text{
    font-size: 12px;
  } 
  .detail-block{
    gap: 9px;
  }
}
@media (min-width: 541px) and (max-width: 599px){ 
  .title-text{
    font-size: 16px !important;
  } 
  .para-text{
    font-size: 10px;
  }
}
@media (max-width: 383px){ 
  .title-text{
    font-size: 16px !important;
  } 
  .para-text{
    font-size: 12px;
  }
  .detail-block{
    gap: 9px;
  }
  .set-rating{
    display: none;
  }
}
@media (max-width: 895px) {
  .action-button {
    font-size: 14px;
  }
}
/* contact section end*/

/* hotel page archive start */
@media (max-width: 962px) and (min-width: 768px){
  .sidebar{
    width: 100%;
  }
  .vertical-hotel-card .hotel-thumbnail{
    width: 100%;
  }
}
@media (max-width: 707px) {
  .sidebar{
    width: 100%;
  }
  .vertical-hotel-card{
    justify-content: center;
    align-items: start;
  }
  .vertical-hotel-card .hotel-thumbnail{
    width: 80%;
    
  }
  .vertical-hotel-card .hotel-container{
    width: 100%;
  }
}
@media (max-width: 570px) {
  .sidebar{
    width: 100%;
  }
  .vertical-hotel-card{
    justify-content: center;
    align-items: start;
  }
  .vertical-hotel-card .hotel-thumbnail{
    width: 100%;
    
  }
  .vertical-hotel-card .hotel-container{
    width: 100%;
  }
}
/* hotel page archive end */
/* modal style start */
dialog {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  cursor: pointer;
  overflow-y: hidden;
  border: none;
}

.dialog-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 80%;
  max-width: 45rem;
  max-height: 100%;
  background: white;
  color: black;
  gap: 10px;
  opacity: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.dialog-container::-webkit-scrollbar {
  display: none !important;
}
.dialog-container-final {
  position: absolute;
  display: flex;
  flex-direction: column;
  /*height: 70%;
  width: 58%;*/
  height: 680px;
  width: 880px;
  background: #F4FEFF;
  color: black;
  gap: 10px;
  opacity: 1;
  
  scroll-behavior: smooth;
}
.dialog-container-final::-webkit-scrollbar {
  display: none !important;
}
@media (max-width: 840px) {
  .dialog-container-final {
    height: 80%;
  width: 58%;
  overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .dialog-container {
    height: fit-content;
    width: 100%;
  }
}

.close-modal-btn {
  margin-left: auto;
  color: white;
  background: #05494f;
  font: 900;
  padding: 8px 13px;
}

@media (max-width: 600px) {
  
  .close-modal-btn {
      padding-top: 8px;
  }
}
.close-modal-btn-final {
  width: 30px;
  margin-left: auto;
  color: black;
  font: 900;
  padding: 5;
}
@media (max-width: 600px) {
  
  .close-modal-btn-final {
      margin: 20px 20px auto auto;
    }
}
.dialog-content {
  opacity: 1;
  height: auto;
}
.fixedPosition {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* modal style end */
/* footer style start */
@media(max-width: 325px){
  .second-hotel-footer-col{
    display: none;
  }
}
/* footer style end */

/* pagination style start */
.control-box {
  border: 0.5px solid #ffffff;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-number {
  background: linear-gradient(0deg, #fff2de, #fff2de),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.control-first-last {
  background: #ffb039;
}

.control-next-pre {
  background: #ffcc81;
}

.action-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.active{
  color: dodgerblue;
}
/* pagination style end */
/* booking style start */
@media (max-width: 1130px) {
  .booking-details{
    padding: 0px;
    gap: 3px;
    font-size: 12px;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .booking-thumbnail {
    width: 30rem;
  }
  .booking-details{
    width: 30rem;
  }
}
@media (max-width: 484px){
  .transaction-block{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
/* booking style end */
