@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 90, 92, 106;
    --background-end-rgb: 32, 45, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* hero section start */
.home-container{
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.1),
  rgb(255, 255, 255)), url('../../public//banner_pics/white\ blue\ natural\ landscape\ of\ the\ sea\ and\ mountains\ freedom\ facebook\ cover.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #c2bbbbcb;
  min-height: 60vh;
}
.bottom-hero{
  background-image: url('/banner_pics/cover-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* hero section end */

/* slick slider gap start */
.slick-slide .card {
  margin: 0rem 10px;
}

.slick-slide .card:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  margin-right: -1rem;
}
/* slick slider gap end */

/* contact section start*/
@media(max-width: 507px){
  .contact-heading{
    font-size: 16px !important;
  }
  .contact-subtitle{
    font-size: 12px !important;
  }
}
@media(max-width: 460px){
  .contact-input{
    max-width: 40%;
    font-size: 14px;
  }
  .notify-me-button{
    max-width: 40%;
    font-size: 14px;
  }
}
@media (min-width: 541px) and (max-width: 685px){
  .title-text{
    font-size: 18px !important;
  } 
  .para-text{
    font-size: 12px;
  } 
  .detail-block{
    gap: 9px;
  }
}
@media (min-width: 541px) and (max-width: 599px){ 
  .title-text{
    font-size: 16px !important;
  } 
  .para-text{
    font-size: 10px;
  }
}
@media (max-width: 383px){ 
  .title-text{
    font-size: 16px !important;
  } 
  .para-text{
    font-size: 12px;
  }
  .detail-block{
    gap: 9px;
  }
  .set-rating{
    display: none;
  }
}
/* contact section end*/
